<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetClinic"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        
        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PetClinic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Owners list activity -->
        <activity
            android:name=".OwnersActivity"
            android:exported="false"
            android:label="Owners"
            android:theme="@style/Theme.PetClinic" />
        
        <!-- Veterinarians list activity -->
        <activity
            android:name=".VetsActivity"
            android:exported="false"
            android:label="Veterinarians"
            android:theme="@style/Theme.PetClinic" />
        
        <!-- Owner detail activity -->
        <activity
            android:name=".OwnerDetailActivity"
            android:exported="false"
            android:label="Owner Details"
            android:theme="@style/Theme.PetClinic"
            android:parentActivityName=".OwnersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnersActivity" />
        </activity>
        
        <!-- Add owner activity -->
        <activity
            android:name=".AddOwnerActivity"
            android:exported="false"
            android:label="Add Owner"
            android:theme="@style/Theme.PetClinic"
            android:parentActivityName=".OwnersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".OwnersActivity" />
        </activity>
        
    </application>

</manifest>
