name: Contract tests
on:
  push:
    branches:
      - main
      - release/*

  pull_request:
    branches:
      - main
      - release/*

jobs:
  setup-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Compose
        run: |
          docker compose version

      - name: Initialize
        uses: ./.github/actions/initialization

      - name: Prepare directory
        run: |
          sudo mkdir -p /tmp/otel-android-collector  
          sudo chmod 777 /tmp/otel-android-collector 

      - name: Start Docker Compose services
        working-directory: ./tests/contract-tests
        run: |
          docker compose up -d
          sleep 40  # Give more time for initialization
          ls -la /tmp/otel-android-collector


      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-35

      - name: Running Telemetry data generator
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          target: 'aosp_atd'
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedCheck


      - name: Running Crash App
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          target: 'aosp_atd'
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            gradle :demo-apps:crash-demo:assembleDebug :demo-apps:crash-demo:installDebug && adb wait-for-device && echo "First launch..." && adb shell am start -n software.amazon.opentelemetry.android.demo.crash/.MainActivity && sleep 130 && echo "Restarting after crash..." && adb shell am start -n software.amazon.opentelemetry.android.demo.crash/.MainActivity && sleep 130


      - name: Run tests on the generated data
        run: |
          ./gradlew tests:contract-tests:testDebugUnitTest -PrunContractTests



