name: PR Approval

on:
  pull_request:
    branches:
      - main
      - release/*
      - pre_release/*

jobs:
  linter:
    name: Linting check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize
        uses: ./.github/actions/initialization

      - name: Run Linter
        uses: ./.github/actions/linting

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Initialize
        uses: ./.github/actions/initialization

      - name: Build and test
        uses: ./.github/actions/build_and_test
