name: Test Access to Maven Central

on:
  push:
    branches:
      - chore/release-workflows-v3
  workflow_dispatch:

env:
  AWS_DEFAULT_REGION: us-west-2

permissions:
  contents: write
  id-token: write

jobs:
  build-and-publish:
    environment: Release
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials for secrets
        uses: aws-actions/configure-aws-credentials@a03048d87541d1d9fcf2ecf528a4a65ba9bd7838 #v5.0.0
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN_SECRETS_MANAGER }}
          role-session-name: GitHubActions-Release
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
          audience: sts.amazonaws.com

      - name: Get Maven Central secrets
        uses: aws-actions/aws-secretsmanager-get-secrets@a9a7eb4e2f2871d30dc5b892576fde60a2ecc802 #v2.0.10
        with:
          secret-ids: |
            MAVEN_CENTRAL_USERNAME,${{ secrets.MAVEN_CENTRAL_USERNAME_SECRET_ARN }}
            MAVEN_CENTRAL_PASSWORD,${{ secrets.MAVEN_CENTRAL_PASSWORD_SECRET_ARN }}
            SIGNING_KEY,${{ secrets.SIGNING_KEY_SECRET_ARN }}
            SIGNING_PASSWORD,${{ secrets.SIGNING_PASSWORD_SECRET_ARN }}

      - name: Set CI env var to allow gradle to sign the release
        run: |
          echo "CI=true" >> $GITHUB_ENV

      - name: Test maven access
        run: |
          curl --request GET \
            --verbose \
            --header 'Authorization: Bearer $(echo "$MAVEN_CENTRAL_USERNAME:$MAVEN_CENTRAL_PASSWORD" | base64)' \
            https://central.sonatype.com/api/v1/manual/search/repositories
